## Question-1

Ordinal Encoding- We use when we have some kind of order/ranking in the categorical variables. For eg. Poor, Average, Excellent

Label Encoding- Here there is no order/ranking. We just assign labels to the categorical variables.For eg. Red, Green, Blue

## Question-2

Target Guided orndinal encoding is used when we want to encide categorical variables based on theor relationship with the target variables.

For exmample, we will use Tips data available with seaborn.

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
#  we will apply target encoding for time variable wrt to total bill feature

time_encoded = df.groupby('time')['total_bill'].mean().to_dict()
df['time_encoded'] = df['time'].map(time_encoded)

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size time_encoded
0       16.99  1.01  Female     No  Sun  Dinner     2    20.797159
1       10.34  1.66    Male     No  Sun  Dinner     3    20.797159
2       21.01  3.50    Male     No  Sun  Dinner     3    20.797159
3       23.68  3.31    Male     No  Sun  Dinner     2    20.797159
4       24.59  3.61  Female     No  Sun  Dinner     4    20.797159

## Question-3

Covariance is the measure of joint variability of two random variables. It indicates how the values of two variables move relatively.It shows the sign of linear relationship (direction of relationship). It has range from (- infinity to + infinity)

Cov(X,Y) = E(XY)- E(X)E(Y)

If Cov(X,Y) = 0, then there is no linear relationship- Uncorrelated.

## Question-4

In [5]:
import pandas as pd
data = pd.DataFrame({
    'Color':['red','green','blue'],
    'Size' :['small','medium','large'],
    'Material' :['wood','metal','plastic']
})

data.head()

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [6]:
#  for color- no specific order- Label Encoding
#  for size- there is a ranking- ordinal encoding
#  for woood- no specific order- Label encoding or One Hot encoding

In [7]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder

In [8]:
#  for size feature

ord_encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [11]:
data['Size_encoded'] = ord_encoder.fit_transform(data[['Size']])

In [12]:
data.head()

   Color    Size Material  Size_encoded
0    red   small     wood           0.0
1  green  medium    metal           1.0
2   blue   large  plastic           2.0

In [13]:
#  for color feature

label_encoding = LabelEncoder()

In [14]:
data['Color_encoded'] = label_encoding.fit_transform(data[['Color']])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
data.head()

   Color    Size Material  Size_encoded  Color_encoded
0    red   small     wood           0.0              2
1  green  medium    metal           1.0              1
2   blue   large  plastic           2.0              0

In [16]:
#  for Material feature

ohe = OneHotEncoder()

In [22]:
material_encoded = ohe.fit_transform(data[['Material']]).toarray()

In [25]:
Material_encoded = pd.DataFrame(material_encoded, columns= ohe.get_feature_names_out())

In [26]:
Material_encoded

   Material_metal  Material_plastic  Material_wood
0             0.0               0.0            1.0
1             1.0               0.0            0.0
2             0.0               1.0            0.0

In [31]:
data_encoded = pd.concat([data,Material_encoded], axis = 1)

In [32]:
data_encoded.head()

,Color,Size,Material,Size_encoded,Color_encoded,Material_metal,Material_plastic,Material_wood
0,red,small,wood,0.0,2,0.0,0.0,1.0
1,green,medium,metal,1.0,1,1.0,0.0,0.0
2,blue,large,plastic,2.0,0,0.0,1.0,0.0

## Question-5

In [36]:
data = pd.DataFrame({
    'Age':[20,23,24,26,29,30,35,40,41,48,50],
    'Income':[30000,34000,29000,38000,48000,160000,78000,890000,100000,120000,1250000],
    'Education':['B.E','B.E','B.E','B.E','Mtech','Phd','Mtech','Mtech','Mtech','Mtech','Mtech']
})

data.head()

   Age  Income Education
0   20   30000       B.E
1   23   34000       B.E
2   24   29000       B.E
3   26   38000       B.E
4   29   48000     Mtech

In [41]:
ord_encoder = OrdinalEncoder(categories=[['B.E','Mtech','Phd']])

In [43]:
data['Education_encoded'] = ord_encoder.fit_transform(data[['Education']])

In [45]:
data.drop(['Education'], axis = 1,inplace = True)

In [46]:
data.head()

   Age  Income  Education_encoded
0   20   30000                0.0
1   23   34000                0.0
2   24   29000                0.0
3   26   38000                0.0
4   29   48000                1.0

In [47]:
data.cov()

                            Age        Income  Education_encoded
Age                1.054182e+02  2.754964e+06           3.681818
Income             2.754964e+06  1.716263e+11       78636.363636
Education_encoded  3.681818e+00  7.863636e+04           0.418182

In [48]:
#  There is very high positive correlation for Income and Education feature.
#  Age and Income has also positive correlation between them
#  Age and Income has also positive correlation between them

## Question-6

For Gender- there is no specific order. So, we can use Label encoding

For education level, there is a specific order and ranking. So, here we can use ordinal encoding.

For employment Status, we can use One hot encoding. Here, there is no as such order.

## Question-7

In [49]:
data = pd.DataFrame({
    'temperature' : [10, 20, 30, 15, 25, 35, 18, 28, 38, 21],
    'humidity' : [50, 60, 70, 55, 65, 75, 58, 68, 78, 61],
    'weather_condition' : ['Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy', 'Rainy', 'Sunny'],
    'wind_direction': ['North', 'East', 'South', 'West', 'North', 'East', 'South', 'West', 'North', 'East']
})

data.head()

   temperature  humidity weather_condition wind_direction
0           10        50             Sunny          North
1           20        60            Cloudy           East
2           30        70             Rainy          South
3           15        55             Sunny           West
4           25        65            Cloudy          North

In [50]:
data.cov()

             temperature   humidity
temperature    78.666667  78.666667
humidity       78.666667  78.666667

In [51]:
from scipy.stats import chi2_contingency

In [54]:
contingency_table = pd.crosstab(data['weather_condition'], data['wind_direction'])
contingency_table

wind_direction     East  North  South  West
weather_condition
Cloudy                1      1      0     1
Rainy                 1      1      1     0
Sunny                 1      1      1     1

In [55]:
chi2_statistic, p_value, dof, expected_freq = chi2_contingency(contingency_table)

print("Chi-squared statistic:", chi2_statistic)
print("P-value:", p_value)

Chi-squared statistic: 1.9444444444444444
P-value: 0.9247364228264967

In [56]:
# here the p-value is very high. So we fail to reject the null hypothesis.
#so there is no association between these two categorical variables

- Interpreting the covariance between temperature and humidity:

A positive covariance between temperature and humidity would indicate that as temperature increases, humidity also tends to increase, and vice versa.